.App {
  display: flex;
  flex-direction: column;
}

.header {
  padding: 1rem 2rem;
  background: #3b5998;
  display: flex;  
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  color: #fff;
}

.header select {
  height: 30px;
  width: 130px;
}

section {
  padding: 1rem;
}

.contents_home {
  display : grid; /* 그리드 속성 추가 */
  grid-template-columns: 1fr 1fr; /*그리드 모양 1:1*/
  grid-gap: 2rem;
}

.contents_home div {
  width :auto;
  height: auto;
  background-color: #fff;
}