#allergie_summary>div {
    text-decoration:none;
    color: black;
}

#allergie_summary>div>a {
    font-size: 0.85em;
    margin-left: 10px;
}

#allergie_summary>iframe {
    width: 400px;
    height: 300px;
}

#allergie_image {
    width: 90%;
    height: auto;
}

#allergie_summary>summary {
    font-size : 1.2rem;
    margin-bottom: 1em;
}